body {
  font-family: Arial; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.max-cards-1 .card-2, .max-cards-1 .card-3, .max-cards-1 .card-4, .max-cards-1 .card-5, .max-cards-1 .card-6, .max-cards-1 .card-7, .max-cards-1 .card-8, .max-cards-1 .card-9, .max-cards-2 .card-3, .max-cards-2 .card-4, .max-cards-2 .card-5, .max-cards-2 .card-6, .max-cards-2 .card-7, .max-cards-2 .card-8, .max-cards-2 .card-9, .max-cards-3 .card-4, .max-cards-3 .card-5, .max-cards-3 .card-6, .max-cards-3 .card-7, .max-cards-3 .card-8, .max-cards-3 .card-9, .max-cards-4 .card-5, .max-cards-4 .card-6, .max-cards-4 .card-7, .max-cards-4 .card-8, .max-cards-4 .card-9, .max-cards-5 .card-6, .max-cards-5 .card-7, .max-cards-5 .card-8, .max-cards-5 .card-9, .max-cards-6 .card-7, .max-cards-6 .card-8, .max-cards-6 .card-9, .max-cards-7 .card-8, .max-cards-7 .card-9, .max-cards-8 .card-9 {
  display: none; }

ol#droppers {
  padding: 0;
  margin: 0; }

li.dropper {
  width: calc(50% - 3px);
  display: inline-block;
  text-align: center;
  margin: 0 0 1em 0; }
  li.dropper div {
    height: 211.52381px;
    padding-bottom: 1em;
    position: relative;
    display: inline-block; }
    li.dropper div span,
    li.dropper div a {
      z-index: 1;
      position: absolute;
      display: inline-block;
      height: 1em;
      font-size: .75em;
      top: 98.7619px;
      width: 50%;
      text-align: center; }
    li.dropper div span.back {
      left: 50%; }
    li.dropper div a {
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto;
      font-weight: bold;
      color: #E00; }
  li.dropper img {
    position: relative;
    z-index: 2;
    width: 150px;
    height: 209.52381px;
    border: 1px solid #CCC; }
    li.dropper img + img {
      margin-left: -1px; }

@media screen {
  body {
    background-color: #e3e3e3;
    margin: 2em;
    padding: 0; }
  #screen {
    background-color: #FFF;
    max-width: 768px;
    padding: 1em;
    border-radius: 1em;
    margin: auto;
    position: relative;
    border: 1px solid #ccc; }
  #print {
    display: none; } }

@page {
  width: 8.5in;
  height: 11in;
  margin: 0;
  size: portrait; }

@media print {
  body {
    background-color: #e3e3e3;
    margin: 0;
    padding: 0; }
  #screen {
    display: none; }
  #print {
    position: absolute; }
    #print img {
      display: none; }
    #print img.custom {
      display: initial;
      width: 67.23333mm;
      height: 92.23333mm; }
    #print div {
      width: 67.23333mm;
      height: 92.23333mm;
      position: absolute;
      margin: 16px; }
      #print div:before, #print div:after {
        position: absolute;
        content: '';
        border: solid black;
        z-index: -1; }
      #print div:before {
        top: -16px;
        bottom: -16px;
        left: 8px;
        right: 8px;
        border-width: 0 1px; }
      #print div:after {
        left: -16px;
        right: -16px;
        top: 8px;
        bottom: 8px;
        border-width: 1px 0; }
    #print.bleed img.custom {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 63mm;
      height: 88mm; }
    #print.bleed img.black {
      display: initial;
      position: absolute;
      top: 0;
      left: 0;
      width: 67.23333mm;
      height: 92.23333mm; }
    #print.bleed img.mirror-top, #print.bleed img.mirror-bottom, #print.bleed img.mirror-left, #print.bleed img.mirror-right {
      display: initial;
      position: absolute;
      object-fit: cover;
      object-position: 0 0; }
    #print.bleed img.mirror-top, #print.bleed img.mirror-bottom {
      -moz-transform: scaleY(-1);
      -o-transform: scaleY(-1);
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
      filter: FlipV;
      -ms-filter: "FlipV"; }
    #print.bleed img.mirror-left, #print.bleed img.mirror-right {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH"; }
    #print.bleed img.mirror-top, #print.bleed img.mirror-bottom {
      width: 63mm;
      height: 8px;
      left: 8px; }
    #print.bleed img.mirror-top {
      top: 0; }
    #print.bleed img.mirror-bottom {
      bottom: 0;
      object-position: 100% 100%; }
    #print.bleed img.mirror-left, #print.bleed img.mirror-right {
      width: 8px;
      height: 88mm;
      top: 8px; }
    #print.bleed img.mirror-left {
      left: 0; }
    #print.bleed img.mirror-right {
      right: 0;
      object-position: 100% 100%; }
    .max-cards-1 #print {
      width: 286.11024px;
      height: 380.59843px;
      left: 101.6mm;
      top: 57.35mm; }
      .max-cards-1 #print div.card-1 {
        top: 0mm;
        left: 0mm; }
      .max-cards-1 #print.back div.card-1 {
        left: auto;
        right: 0mm; }
    .max-cards-2 #print {
      width: 540.22047px;
      height: 380.59843px;
      left: 67.98333mm;
      top: 57.35mm; }
      .max-cards-2 #print div.card-1 {
        top: 0mm;
        left: 0mm; }
      .max-cards-2 #print.back div.card-1 {
        left: auto;
        right: 0mm; }
      .max-cards-2 #print div.card-2 {
        top: 0mm;
        left: 67.23333mm; }
      .max-cards-2 #print.back div.card-2 {
        left: auto;
        right: 67.23333mm; }
    .max-cards-3 #print {
      width: 794.33071px;
      height: 380.59843px;
      left: 34.36667mm;
      top: 57.35mm; }
      .max-cards-3 #print div.card-1 {
        top: 0mm;
        left: 0mm; }
      .max-cards-3 #print.back div.card-1 {
        left: auto;
        right: 0mm; }
      .max-cards-3 #print div.card-2 {
        top: 0mm;
        left: 67.23333mm; }
      .max-cards-3 #print.back div.card-2 {
        left: auto;
        right: 67.23333mm; }
      .max-cards-3 #print div.card-3 {
        top: 0mm;
        left: 134.46667mm; }
      .max-cards-3 #print.back div.card-3 {
        left: auto;
        right: 134.46667mm; }
    .max-cards-4 #print {
      width: 1048.44094px;
      height: 380.59843px;
      left: 0.75mm;
      top: 57.35mm; }
      .max-cards-4 #print div.card-1 {
        top: 0mm;
        left: 0mm; }
      .max-cards-4 #print.back div.card-1 {
        left: auto;
        right: 0mm; }
      .max-cards-4 #print div.card-2 {
        top: 0mm;
        left: 67.23333mm; }
      .max-cards-4 #print.back div.card-2 {
        left: auto;
        right: 67.23333mm; }
      .max-cards-4 #print div.card-3 {
        top: 0mm;
        left: 134.46667mm; }
      .max-cards-4 #print.back div.card-3 {
        left: auto;
        right: 134.46667mm; }
      .max-cards-4 #print div.card-4 {
        top: 0mm;
        left: 201.7mm; }
      .max-cards-4 #print.back div.card-4 {
        left: auto;
        right: 201.7mm; }
    .max-cards-5 #print {
      width: 1048.44094px;
      height: 729.19685px;
      left: 0.75mm;
      top: 11.23333mm; }
      .max-cards-5 #print div.card-1 {
        top: 0mm;
        left: 0mm; }
      .max-cards-5 #print.back div.card-1 {
        left: auto;
        right: 0mm; }
      .max-cards-5 #print div.card-2 {
        top: 0mm;
        left: 67.23333mm; }
      .max-cards-5 #print.back div.card-2 {
        left: auto;
        right: 67.23333mm; }
      .max-cards-5 #print div.card-3 {
        top: 0mm;
        left: 134.46667mm; }
      .max-cards-5 #print.back div.card-3 {
        left: auto;
        right: 134.46667mm; }
      .max-cards-5 #print div.card-4 {
        top: 0mm;
        left: 201.7mm; }
      .max-cards-5 #print.back div.card-4 {
        left: auto;
        right: 201.7mm; }
      .max-cards-5 #print div.card-5 {
        top: 92.23333mm;
        left: 0mm; }
      .max-cards-5 #print.back div.card-5 {
        left: auto;
        right: 0mm; }
    .max-cards-6 #print {
      width: 794.33071px;
      height: 729.19685px;
      left: 34.36667mm;
      top: 11.23333mm; }
      .max-cards-6 #print div.card-1 {
        top: 0mm;
        left: 0mm; }
      .max-cards-6 #print.back div.card-1 {
        left: auto;
        right: 0mm; }
      .max-cards-6 #print div.card-2 {
        top: 0mm;
        left: 67.23333mm; }
      .max-cards-6 #print.back div.card-2 {
        left: auto;
        right: 67.23333mm; }
      .max-cards-6 #print div.card-3 {
        top: 0mm;
        left: 134.46667mm; }
      .max-cards-6 #print.back div.card-3 {
        left: auto;
        right: 134.46667mm; }
      .max-cards-6 #print div.card-4 {
        top: 92.23333mm;
        left: 0mm; }
      .max-cards-6 #print.back div.card-4 {
        left: auto;
        right: 0mm; }
      .max-cards-6 #print div.card-5 {
        top: 92.23333mm;
        left: 67.23333mm; }
      .max-cards-6 #print.back div.card-5 {
        left: auto;
        right: 67.23333mm; }
      .max-cards-6 #print div.card-6 {
        top: 92.23333mm;
        left: 134.46667mm; }
      .max-cards-6 #print.back div.card-6 {
        left: auto;
        right: 134.46667mm; }
    .max-cards-7 #print {
      width: 1048.44094px;
      height: 729.19685px;
      left: 0.75mm;
      top: 11.23333mm; }
      .max-cards-7 #print div.card-1 {
        top: 0mm;
        left: 0mm; }
      .max-cards-7 #print.back div.card-1 {
        left: auto;
        right: 0mm; }
      .max-cards-7 #print div.card-2 {
        top: 0mm;
        left: 67.23333mm; }
      .max-cards-7 #print.back div.card-2 {
        left: auto;
        right: 67.23333mm; }
      .max-cards-7 #print div.card-3 {
        top: 0mm;
        left: 134.46667mm; }
      .max-cards-7 #print.back div.card-3 {
        left: auto;
        right: 134.46667mm; }
      .max-cards-7 #print div.card-4 {
        top: 0mm;
        left: 201.7mm; }
      .max-cards-7 #print.back div.card-4 {
        left: auto;
        right: 201.7mm; }
      .max-cards-7 #print div.card-5 {
        top: 92.23333mm;
        left: 0mm; }
      .max-cards-7 #print.back div.card-5 {
        left: auto;
        right: 0mm; }
      .max-cards-7 #print div.card-6 {
        top: 92.23333mm;
        left: 67.23333mm; }
      .max-cards-7 #print.back div.card-6 {
        left: auto;
        right: 67.23333mm; }
      .max-cards-7 #print div.card-7 {
        top: 92.23333mm;
        left: 134.46667mm; }
      .max-cards-7 #print.back div.card-7 {
        left: auto;
        right: 134.46667mm; }
    .max-cards-8 #print {
      width: 1048.44094px;
      height: 729.19685px;
      left: 0.75mm;
      top: 11.23333mm; }
      .max-cards-8 #print div.card-1 {
        top: 0mm;
        left: 0mm; }
      .max-cards-8 #print.back div.card-1 {
        left: auto;
        right: 0mm; }
      .max-cards-8 #print div.card-2 {
        top: 0mm;
        left: 67.23333mm; }
      .max-cards-8 #print.back div.card-2 {
        left: auto;
        right: 67.23333mm; }
      .max-cards-8 #print div.card-3 {
        top: 0mm;
        left: 134.46667mm; }
      .max-cards-8 #print.back div.card-3 {
        left: auto;
        right: 134.46667mm; }
      .max-cards-8 #print div.card-4 {
        top: 0mm;
        left: 201.7mm; }
      .max-cards-8 #print.back div.card-4 {
        left: auto;
        right: 201.7mm; }
      .max-cards-8 #print div.card-5 {
        top: 92.23333mm;
        left: 0mm; }
      .max-cards-8 #print.back div.card-5 {
        left: auto;
        right: 0mm; }
      .max-cards-8 #print div.card-6 {
        top: 92.23333mm;
        left: 67.23333mm; }
      .max-cards-8 #print.back div.card-6 {
        left: auto;
        right: 67.23333mm; }
      .max-cards-8 #print div.card-7 {
        top: 92.23333mm;
        left: 134.46667mm; }
      .max-cards-8 #print.back div.card-7 {
        left: auto;
        right: 134.46667mm; }
      .max-cards-8 #print div.card-8 {
        top: 92.23333mm;
        left: 201.7mm; }
      .max-cards-8 #print.back div.card-8 {
        left: auto;
        right: 201.7mm; }
    .max-cards-9 #print {
      width: 794.33071px;
      height: 1077.79528px;
      left: 2.61667mm;
      top: -3.13333mm; }
      .max-cards-9 #print div.card-1 {
        top: 0mm;
        left: 0mm; }
      .max-cards-9 #print.back div.card-1 {
        left: auto;
        right: 0mm; }
      .max-cards-9 #print div.card-2 {
        top: 0mm;
        left: 67.23333mm; }
      .max-cards-9 #print.back div.card-2 {
        left: auto;
        right: 67.23333mm; }
      .max-cards-9 #print div.card-3 {
        top: 0mm;
        left: 134.46667mm; }
      .max-cards-9 #print.back div.card-3 {
        left: auto;
        right: 134.46667mm; }
      .max-cards-9 #print div.card-4 {
        top: 92.23333mm;
        left: 0mm; }
      .max-cards-9 #print.back div.card-4 {
        left: auto;
        right: 0mm; }
      .max-cards-9 #print div.card-5 {
        top: 92.23333mm;
        left: 67.23333mm; }
      .max-cards-9 #print.back div.card-5 {
        left: auto;
        right: 67.23333mm; }
      .max-cards-9 #print div.card-6 {
        top: 92.23333mm;
        left: 134.46667mm; }
      .max-cards-9 #print.back div.card-6 {
        left: auto;
        right: 134.46667mm; }
      .max-cards-9 #print div.card-7 {
        top: 184.46667mm;
        left: 0mm; }
      .max-cards-9 #print.back div.card-7 {
        left: auto;
        right: 0mm; }
      .max-cards-9 #print div.card-8 {
        top: 184.46667mm;
        left: 67.23333mm; }
      .max-cards-9 #print.back div.card-8 {
        left: auto;
        right: 67.23333mm; }
      .max-cards-9 #print div.card-9 {
        top: 184.46667mm;
        left: 134.46667mm; }
      .max-cards-9 #print.back div.card-9 {
        left: auto;
        right: 134.46667mm; } }
